@use '../../../styles/mixins';

.view-trip-details-container {
    width: 60vw;
    padding: 3.33em 2.66em 4em;

    @media screen and (max-width: 1024px) {
        width: 80vw;
    }

    .heading {
        font-size: 2.133rem;
        font-weight: 600;
        line-height: 38px;
        color: rgba(51, 24, 159, 1);
        text-align: center;
        margin-bottom: 1em;

        .home-button-mobile{
            display: none;
        }
    }

    .body {
        form {
            .MuiAccordionSummary-content {
                color: rgba(51, 24, 159, 1);
                font-size: 1rem;
                font-weight: 500;
            }

            .accordion-4 {
                margin-top: 1em;
            }

            .accordion-details {
                @include mixins.flex-row-center();
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1.2em;

                .field {
                    max-width: min(434px, 100%);

                    @media screen and (min-width: 1024px) {
                        max-width: 48%;

                        &.three {
                            max-width: 30%;
                        }
                    }

                    &.radio-group {
                        @include mixins.flex-row-center();

                        .MuiFormLabel-root {
                            width: 100%;
                            color: rgba(0, 0, 0, 0.38);
                            font-size: 0.8rem;
                        }
                    }
                }

                .address {
                    max-width: 70%;

                    @media screen and (max-width: 1024px) {
                        max-width: min(434px, 100%);
                    }
                }

                .pincode {
                    max-width: 26%;

                    @media screen and (max-width: 1024px) {
                        max-width: min(434px, 100%);
                    }
                }
            }
        }

        .update-button {
            width: 35%;
            display: block;
            margin: 2.8em auto 0;
            padding: 8px 0;
            font-family: Mulish;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.25rem;
            cursor: pointer;
            border-radius: 8px;
            border: 2px solid rgba(51, 24, 159, 1);
            color: rgba(255, 255, 255, 1);
            background: rgba(51, 24, 159, 1);
            box-shadow: 0px 3px 6px 0px rgba(32, 32, 32, 0.3);

            &:disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .view-trip-details-container {
        min-height: 100%;
        width: 100%;
        padding: 1.25em 1.25em 0;
        display: flex;
        flex-direction: column;

        .heading {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            width: 100%;
            align-items: center;
            font-size: 1.125rem;
            color: #33189f;
            line-height: 21px;
            .home-button-mobile {
                display: flex;
                font-size: 0.75rem;

                .backbutton {
                    text-transform: capitalize;
                    font-size: 0.75rem;
                    margin-left: -8px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }
        .body {
            display: flex;
            flex-direction: column;
            height: 100%;
            flex-grow: 1;
            margin-bottom: 3.75em;
            
            form {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                .accordion {
                    border: 0
                }
                
                .accordion-4 {
                    margin-bottom: 2em;
                }

                .update-button {
                    width: 70%;
                    font-size: 0.88rem;
                    line-height: 16px;
                    margin-top: auto;
                }
            }
        }
    }
}
