.address-confirmation-container {
    width: 100%;
    padding: 2.66em;
    max-width: 464px;
    text-align: center;

    .confirmation-required-alert {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 28px;
        margin: 1.45em 0 0.83em;
    }

    .confirmation-required-meessage {
        font-size: 0.93rem;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 2.875em;

        p {
            margin-top: 8px;
        }
    }

    .confirm-button {
        width: 100%;
        max-width: 50%;
        text-align: center;
        padding: 8px 0;
        font-size: 1.06rem;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        border-radius: 8px;
        border: 2px solid rgba(51, 24, 159, 1);
        color: rgba(255, 255, 255, 1);
        background: rgba(51, 24, 159, 1);
        box-shadow: 0px 3px 6px 0px rgba(32, 32, 32, 0.3);
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .address-confirmation-container {
        max-width: 376px;
    }
}
