.reset-password-background {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    overflow: auto;

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
      min-height: 100%;
      width: 50%;
    }
  }

}

@media screen and (max-width: 1024px) {
  .reset-password-background{
    .container-wrapper{
      justify-content: center;
      width: 100%;
      .form-container{
        align-items: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .reset-password-background{
    background: none;
    .container-wrapper{
      .form-container{
        width: 100%;
        justify-content: stretch;
      }
    }
  }
}