.recover-form-container {
    width: 45vw;
    padding: 3.33em 0 4em 3.2em;
    .recover-abha-head {
        display: flex;
        align-items: center;
        gap: 1.33em;
        color: rgba(32, 32, 32, 1);

        .back-btn {
            display: none;
        }
        img {
            cursor: pointer;
        }

        span {
            font-size: 2.133rem;
            font-weight: 600;
            line-height: 38px;
        }
    }

    .recover-abha-body {
        padding-left: 3.33em;
        width: 80%;

        .recover-abha-description {
            font-size: 1.066rem;
            margin: 1.66em 0 2em;
            font-weight: 500;
            line-height: 19px;
            color: rgba(108, 105, 105, 1);
        }

        form {
            .terms-policy {
                display: flex;
                align-items: center;
                gap: 0.5em;
                font-size: 0.75rem;
                margin-top: 12vh;

                .terms-checkbox {
                    margin-left: 8px;
                    width: 24px;
                    height: 24px;
                }

                p {
                    font-size: 0.93rem;
                    font-weight: 400;
                    line-height: 17px;
                    color: rgba(38, 38, 38, 1);

                    span {
                        cursor: pointer;
                        color: rgba(51, 24, 159, 1);
                        text-decoration: underline;
                    }
                }
            }

            .get-otp-button {
                width: 100%;
                max-width: 300px;
                display: block;
                text-align: center;
                margin: 1.25em 0 0.5em;
                padding: 8px 0;
                font-family: Mulish;
                font-size: 1.06rem;
                font-weight: 600;
                line-height: 20px;
                cursor: pointer;
                border-radius: 8px;
                border: 2px solid rgba(51, 24, 159, 1);
                color: rgba(255, 255, 255, 1);
                background: rgba(51, 24, 159, 1);
                box-shadow: 0px 3px 6px 0px rgba(32, 32, 32, 0.3);
            }

            .existing-abha-number {
                display: flex;
                align-items: center;
                padding-block: 0.6em;
                margin-left: 12px;
                gap: 8px;

                .abha-text {
                    font-size: 0.93rem;
                    font-weight: 400;
                    line-height: 16px;
                    color: rgba(38, 38, 38, 1);
                }

                .link-abha {
                    font-size: 1.06rem;
                    font-weight: 400;
                    line-height: 19px;
                    text-decoration: underline;
                    color: rgba(51, 24, 159, 1);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {

    .recover-form-container {
        width: 100%;
        padding: 1.3em 1.25em 0em 1.25em;

        .recover-abha-head {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            gap: 1.9em;

            img {
                display: none;
            }

            .back-btn {
                display: flex;
                gap: 0em;

                img {
                    display: block;
                }

                cursor: pointer;

                span {
                    font-size: 0.7rem;
                    text-align: center;
                    font-weight: 500;
                }
            }

            span {
                font-size: 1.125rem;
                color: #33189F;
            }
        }

        .recover-abha-body {
            padding: 0em;
            width: 100%;

            .recover-abha-description {
                text-align: center;
                font-size: 0.875rem;
                padding: 0 0.5em;
            }

            form {
                .terms-policy {
                    justify-content: center;
                }

                .get-otp-button {
                    margin: 0 auto;
                    margin-top: 1.4em;
                }
            }
        }

    }
}